{
  "extends": ["plugin:prettier/recommended"],
  "env": {
    "es6": true
  },
  "sourceType": "module",
  "rules": {
    "quotes": 0,
    "no-magic-numbers": 0,
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
      }
    ],
    "import/namespace": 0,
    "no-lonely-if": 0,
    "no-empty-pattern": 0,
    "no-alert": 0,
    "no-shadow": "off",
    "default-case": "warn"
  }
}
