/* Global CSS */
html,
body {
  margin: 0;
  padding: 0;
  overflow: initial !important;
}
body {
  font-size: 15px;
  line-height: 1.46668;
  font-weight: 400;
  font-variant-ligatures: common-ligatures;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

*:focus { 
  outline: 0; 
}

body, 
textarea, 
input, 
button, 
a,
* {
    font-family: 'Stylish', 'Nanum Gothic', '나눔고딕', 'Malgun Gothic', '맑은 고딕', Tahoma, 'Dotum', '돋움', sans-serif !important;
    font-size: 16px;
}

.hidden {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}